@import 'tailwindcss';
@plugin './hero.ts';
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: var(--font-inria-sans), ui-sans-serif, system-ui, sans-serif;
  --color-nav-background: #f4aa09;
}
